h1 {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 900;
}

.App {
  background-color: antiquewhite;
  padding: 1rem;
  max-width: 80%;
  margin: 0 auto;
  border-radius: 0.5rem;
}

button {
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  border: none;
  box-shadow: 1px 2px blueviolet;
  border-radius: 1rem;
  cursor: pointer;
}

.active {
  background-color: green;
  color: white;
  font-weight: bold;
  letter-spacing: 0.2ch;
}

.tab-description {
  margin-top: 1rem;
}
